{
	"openapi": "3.0.1",
	"info": {
		"title": "nandbox Business API",
		"description": "Submit user-configured mobile app templates to the nandbox platform for deployment.",
		"version": "v1.0.0"
	},
	"servers": [
		{
			"url": "https://ai.nandbox.net/nandbox/ai"
		}
	],
	"paths": {
		"/submitAITemplate": {
			"post": {
				"summary": "Submit finalized app configuration",
				"operationId": "submitAITemplate",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"data": {
										"type": "object",
										"required": [
											"method",
											"template"
										],
										"properties": {
											"method": {
												"type": "string",
												"enum": [
													"submitAITemplate"
												]
											},
											"template": {
												"type": "object",
												"description": "Final mobile app configuration generated by ChatGPT to be submitted to the nandbox platform."
											}
										}
									}
								},
								"required": [
									"data"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful app submission response containing signup URL and status.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"signup_url": {
											"type": "string",
											"description": "The URL where users can finalize and deploy their created mobile app."
										},
										"status": {
											"type": "string",
											"description": "Status of the app submission.",
											"example": "SUCCESS"
										}
									},
									"required": [
										"signup_url",
										"status"
									]
								}
							}
						}
					}
				}
			}
		}
	}
}